PORT=4000
MONGODB_URI=mongodb://localhost:27017/advik_ecom
# CORS allows localhost:5173 (admin) and localhost:5174 (customer frontend)
UPLOAD_DIR=./uploads

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
AWS_S3_BUCKET=advik-creation-upload
API_URL=http://13.232.132.63
